
.maindiv {

    background-color: black;
    padding-bottom: 40px;
    /* height: 500px; */
    
}

#a1{

    color: #f3bf00 !important;
    margin-left: 97px;
}

#a2{

    color: #f3bf00 !important;
    margin-left: 20px;
}

.maindiv h1{

    margin-left: 50px;
    padding-top: 50px;
}

.maindiv li {
    
    color:white;
    margin-left: 75px;
    margin-top: 50px;
}

#maintext{

    color: #f3bf00;
}