
nav{/*lal nav l fo2 bas*/
    background-color: #ffd900 ;
    width:100%;
    max-width: 100%;/*ta mashi ytla3 la bara*/
    border-radius: 0px;
    border-bottom: 1px solid #f3bf00;
    margin-top: 0px; 
    height: 75px;
}

.cusSticky {

    position: sticky;
    top:0;
    z-index: 999;
}

nav img{
    margin-left: -100%;
    width:150px;
}

nav a{/*nav link*/
    color: black !important /*ta yekhdo la lon*/;
    font-size:15px ;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 50px; 
}
nav a:hover{
    text-decoration: none;
}

nav input{
    border: 1px solid #f3bf00;
    border-radius: 50px;
    color: black;
    font-size: 15px;
    width: 100%;
}

nav #lastnav{
    background: url("../../image/search.svg") center no-repeat;
    width: 23px;
    height: 50px;
    margin-left: 5px;
}
.logo{
    text-align: right;
    /* margin-left: -10%;*/
    margin-top: 2.5%; 
    font-weight: bolder;
    font-family: "Audiowide", sans-serif
}

.popSign{
    background-color: #ffd900;
    color: black;
    border-radius: 20px;
    /* width: 500px; */
    height: 450px;
    margin: 70px auto;
    transition: all 5s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#log{
    height: 270px;
}

.input-box{
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width: 90%; 
    height: 40px;
    outline: none;
    background-color: black;
    margin-left: 5%;
    color: #ffd900;
    
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    filter: invert(100%);
}
.signup-btn{
    margin-top: 3%;
    margin-left: 43%;
    background-color: black;
    color:#ffd900;
    border-radius: 20px;
}
.h1s{
    text-align: center;
}
.ppop{
    text-align: center;
}
.searchin{
    
    height:30px;
}

@media screen and (max-width:990px){/*for brkpts*/
    nav{
        height: 100%;
    }
    .searchin{
        width:200px;
        margin-left: -10px;
    }
    .searchdiv{
        float: left;
    }
    #lastnav{
        margin-top: -8px;
    }
}