
  .text-center{
   
    background-color: #ffd900 ;
    
  }
  
  h4{
    font-weight: bolder;

  }
  li{
    font-weight: bolder;
    color: black;

  }
  .text-uppercase{
    color:black;
    font-weight: bolder;
  }
 
  a{
    color: black !important;
  }
  
  button{
    background-color: transparent;
    border-color: yellow;
    margin-top: 5%;
  }
